.submitButton
{
    background-color:rgb(0, 255, 179);
    border-radius: 16px;   
    font-weight: bolder;
    color: black;
}

.invalidError
{
    color: red;
}
.info
{
    background-color:rgb(245, 245, 239);
}