<main id="main">

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>PORTFOLIO</h2>
        <h3>My Recent Projects</h3>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-blue">
            <div class="icon">
              <img src="assets\img\prodcatalog.png" width="250%" height="100%">
              <!-- <i class="bx bxl-dribbble"></i> -->
            </div>
            <h4><a href="https://vijayalakshmi-productcatalogue-guvi.netlify.app/">Product catalogue-Angular</a></h4>
            <p>An E-Commerce app which can Manage products,View products based on category and gives a user experience
              of shopping a product through this app</p>

          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box iconbox-orange ">
            <div class="icon">
              <img src="assets\img\urlshortAng.png" width="250%" height="100%">
              <!-- <i class="bx bx-file"></i> -->
            </div>
            <h4><a href="https://url-shortner-guvi.netlify.app/">URL- Shortner (MEAN)</a></h4>
            <p>A perfect URL Shortner app developed using MongoDB,ExpressJS,Angular 8,NodeJS.URL Shortner features
              include copy URL ,delete URL and also keeps track of your recent clicks.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-blue">
            <div class="icon">
              <img src="assets\img\gitlookup.png" width="250%" height="100%">
              <!-- <i class="bx bxl-dribbble"></i> -->
            </div>
            <h4><a href="https://glue-app.netlify.app/">Git hub look up-Angular</a></h4>
            <p>A github look up app built in Angular which shows the profile, and repos of github users.</p>

          </div>
        </div>


      </div>
      <div class="row">

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box iconbox-orange ">
            <div class="icon">
              <img src="assets\img\urlshortReact.png" width="250%" height="100%">
              <!-- <i class="bx bx-file"></i> -->
            </div>
            <h4><a href="https://urlshort-react.netlify.app/">URL- Shortner(MERN)</a></h4>
            <p>A URL Shortner app developed in MongoDB,ExpressJS,React JS,NodeJS.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-blue">
            <div class="icon">
              <img src="assets\img\pricingtable.png" width="250%" height="100%">
              <!-- <i class="bx bxl-dribbble"></i> -->
            </div>
            <h4><a href="https://pricingtable.netlify.app">Pricing Table Angular</a></h4>
            <p>My First Static Angular project using Bootstrap Cards</p>

          </div>
        </div>
      </div>

    </div>
  </section><!-- End Services Section -->

</main><!-- End #main -->

<!-- <div id="preloader"></div> -->