<main id="main">
    <section id="resume" class="resume">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Resume</h2>
                <p>A keen learner, possessing good verbal and written communication skills and Optimistic in
                    nature.Analytical, highly committed towards the job assigned, organisational, good at grasping
                    new concepts,adaptable to all kind of environment.</p>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="resume-title">Summary</h3>
                    <div class="resume-item pb-0">
                        <h4>Vijayalakshmi</h4>
                        <p> <i class="fa fa-map-marker" aria-hidden="true"></i> Madambakkam,Chennai-600126</p>
                        <p> <i class="fa fa-phone" aria-hidden="true"></i> +91-8056174206</p>
                        <p><em><i class="fa fa-envelope" aria-hidden="true"></i> geetha.krishkmr@gmail.com</em></p>
                    </div>
                </div>
                <div class="col-lg-6">

                    <h3 class="resume-title">Experience</h3>
                    <div class="resume-item">
                        <h4>Full Stack Developer Trainee</h4>
                        <h5>2020-Present</h5>
                        <p><em>Guvi Technologies</em></p>
                        <p>Currently pursuing Full stack development program where I learn to develop responsive websites and learning Web and UI frameworks</p>
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item">
                        <h4>B.Tech(Information Technology)</h4>
                        <h5>2005 - 2009</h5>
                        <p><em>Saranathan College of Engineering,Trichy</em></p>
                        <p>Graduated with CGPA of 8.2</p>
                        <p>Consistently rewarded and appreciated for being a rank holder in college academics throughout
                            the collegiate term.</p>
                        <p>Actively mentored and contributed in technical events during Tech Fests held at college.</p>
                    </div>                    
                   
                </div>
                <div class="col-lg-6">

                    <div class="resume-item">
                        <h4>Stay-at-home Parent</h4>
                        <h5>2014-2020</h5>
                        <p><em>Mentor at Educare Academy,Chennai</em></p>
                        <p>Joined as a mentor and coach for secondary grade students who needed guidance and support in their academics.</p>
                        <p>Consistently appreciated for helping the students to gain confidence and learning skills so as to improve their test scores in classroom</p>
                       
                    </div>

                    <div class="resume-item">
                        <h4>Software Developer</h4>
                        <h5>2009-2010</h5>
                        <p><em>Adela Software services, Trichy, TamilNadu </em></p>
                        <p>Primary contributor in a team of 8 from July 2009 to Oct 2010 in developing a
                            desktop product OLTPRO for US tax payers in C#.net</p>

                        <p>Consistently appreciated to possess the right temperament to perform under demanding
                            situations and work cohesively with the team to deliver quality results.</p>
                    </div>
                   


                </div>
            </div>
            


        </div>
    </section>

</main>
<!-- <div id="preloader"></div> -->
<!-- <a routerLink="about" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a> -->