<h1>Resume</h1>

<main id="main">
    <section id="resume" class="resume">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Resume</h2>
                <p>To work in a challenging environment that provides me with the required platform to cope with
                    emerging technologies and showcase my efforts with zeal and determination to serve the enterprise
                    goals with ample scope to enhance my knowledge at the same.</p>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="resume-title">Summary</h3>
                    <div class="resume-item pb-0">
                        <h4>Vijayalakshmi</h4>
                        <p>Madambakkam,Chennai-600126</p>
                        <p>+91-8056174206</p>
                        <p><em>geetha.krishkmr@gmail.com</em></p>



                    </div>
                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item">
                        <h4>Bachelor Of Technology</h4>
                        <h5>2005 - 2009</h5>
                        <p><em>Saranathan College of Engineering,Trichy</em></p>
                        <p>Consistently rewarded and appreciated for being a rank holder in college academics throughout
                            the collegiate term.</p>
                    </div>
                    <h3 class="resume-title">Professional Experience</h3>
                    <div class="resume-item">
                        <h4>Software Developer</h4>
                        <h5>2009-2010</h5>
                        <p><em>Adela Software services, Trichy, TamilNadu </em></p>
                        <p>Primary contributor in a team of two from July 2010 to Oct 2010 in developing a tool to
                            automate C#.net to php conversion which was subsequently used in the later phases of the
                            OLT-PRO product development.</p>
                        <p>Consistently appreciated to possess the right temperament to perform under demanding
                            situations and work cohesively with the team to deliver quality results.</p>
                    </div>
                    <h3 class="resume-title">Professional Experience</h3>
                    <div class="resume-item">
                        <h4>Trainee</h4>
                        <h5>2020-Present</h5>
                        <p><em>Guvi Technologies</em></p>
                        <p>Getting trained as a Full stack developer and working on some hands on projects</p>                        
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>